.app-shell {
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    transition: margin-left 0.3s ease, width 0.3s ease;
    overflow: visible;
}

.content.open {
    margin-left: 202px;
    width: calc(100% - 202px);
}

.content.closed {
    margin-left: 45px;
    width: calc(100% - 45px);
}
  