@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-principal: "Montserrat";
    --azul-escuro: #1E3148;
    --azul-claro: #E7F4FC;
    --azul-destaque: #2F87C6;
    --cinza-medio: #7C736A;
    --cinza-claro: #EDE9E4;
    --cinza-escuro: #606E7E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    background-color: white;
}